@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
body{
    background: rgba(0,0,0,0.7)url('images/quiz.jpg');
    background-size:cover;
    background-blend-mode:soft-light;
}

h1{
    color:white;
    font-family: 'Almendra SC', serif;
    font-size: 70px;
    
}
.quiz{
    margin-top: 10%;
    margin-left: 43%;
}
.content{
    color:white;
    margin-left:27%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    margin-left: 38%;
    
}
.btn-play{
    padding:10px;
    background:none;
    color:white;
    width:280px;
    margin-top:20px;
    cursor:pointer;
    border:1px solid rgb(252, 249, 249);
    font-size:25px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

    


   .btn-play:hover{
    background-color: grey;
    color:black;
    cursor:pointer;
       box-shadow:0 0.4rem 1.4 rem 0 rgba(86,185,235,0.5);
       transform: translateY(-0.1rem);
       transition:transform 150ms;
   }
  